body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('assets/img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Yüksekliği tam ekran yapar */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1, header p {
    color: black; 
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
